@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8f5f5;
  --light-blue: #5684ae;
  --dark-blue: #0f4c81;
  --light-orange: #ffe4c8;
  --dark-orange: #f9be81;
  --calendar-color: #e4f6ed;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
